@import "common";

@brand1: #08384e;
@brand2: #fff;
@brand3: #dfe0e2;
@brand4: #08384e;
@brand5: #f8931d;


@border-radius-base: 0;


@navbar-default-color: #fff;

@btn-default-color: #fff;
@navbar-default-bg: @brand1;
@navbar-default-border: @brand1;

@navbar-default-link-color: #fff;


@btn-primary-bg: @brand5;
@btn-default-bg: @brand1;


body {
	background: @brand1;
	padding-top: @navbar-height;
}

h2 {
	color: @brand5;

	small {
		color: @brand1;
		font-size: 100%;
		font-weight: inherit;
	}
}

.section {
	padding: 40px 0;
}

.marketing-image {
	background-image: url('../img/snowflake.png');
	width: 131px;
	height: 136px;
	margin: 0 auto;
}


.brand-patagonia {
	display: inline-block;
	background-image: url('../img/brands.png');
	background-position: 0 0;
	width: 178px;
	height: 56px;
}
.brand-north-face {
	display: inline-block;
	background-image: url('../img/brands.png');
	background-position: -221px 0;
	width: 125px;
	height: 68px;
}
.brand-volkl {
	display: inline-block;
	background-image: url('../img/brands.png');
	background-position: -416px 0;
	width: 127px;
	height: 48px;
}
.brand-k2 {
	display: inline-block;
	background-image: url('../img/brands.png');
	background-position: -560px 0;
	width: 87px;
	height: 69px;
}
.brand-nordica {
	display: inline-block;
	background-image: url('../img/brands.png');
	background-position: -679px 0;
	width: 142px;
	height: 61px;
}
.brand-blizzard {
	display: inline-block;
	background-image: url('../img/brands.png');
	background-position: -846px 0;
	width: 145px;
	height: 68px;
}
